<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>forgot page</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="forgot-box">
	<h1 class="fgt">Forgot Password</h1>
    <form method="post" action="{{ url_for('forgot_password') }}">
        
        <input type="email" id="email" name="email" placeholder="Enter your Email:" required>
        <br>
        <input type="submit" value="Submit">
    </form>

    {% if details %}
        <p>Your username is: {{ details[2] }}</p>
        <p>Your password is: {{ details[3] }}</p>
      
      <a href="{{ url_for('login2') }}"><input type="submit" value="LOGIN"></a>
    {% endif %}

    {% if err %}
        <p>{{ err }}</p>

        <a href="{{ url_for('sign') }}"><input type="submit" value="SIGN UP"></a>
    {% endif %}
</div>
</body>
</html>